body {
    margin:0;
    padding:0;
}

#piczoomer {
    width:100%;
    height:400px;
    position:relative;
}
#piczoomer .mainLabel {
  position: absolute;
  display: none;
  z-index: 100;
  background-color: #1b0f33;
  pointer-events: none;
  padding: 0 10px;
  text-align: center;
}
#piczoomer .mainLabel h1 {
  color: #FFF !important;
  font-size: 18px;
}
#piczoomer .mainLabel h2 {
  color: #FFF !Important;
  font-size: 14px;
  text-align: center;
}
#piczoomer .mainLabel h3 {
  color: #FFF !Important;
  font-size: 14px;
  max-width: 200px;
  font-style: italic;
  font-weight: lighter;
  text-align: center;
  margin: 20px 0 0;
}